<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>  
                <div class="centered">
                    <h2>Total: <%= totalPrice  %> </h2>
                </div>
<div class="centered">
<form id="paymentForm">
<div class="form-group">

<input type="email" id="email-address" value="<%= userEmail %>" hidden />
</div>
<div class="form-group">
<input type="tel" id="amount" value="<%= totalPrice %>" hidden />
</div>
<div class="form-submit">
<button class="btn" type="submit" > Pay </button>
<!-- onclick="payWithPaystack()" -->
</div>
</form>
<script src="https://js.paystack.co/v1/inline.js"></script> 
<script type="module" src="/public/js/paystack.js"></script>
</div>
        </main>
        <%- include('../includes/end.ejs') %>